* {
    margin: 0;
    padding: 0;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100dvh;
    background-color: #181a1b;
    color:white;
}

input,
button,
textarea,
select {
    font: inherit;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    text-wrap: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
}
.container {
    background-image: linear-gradient(#181a1b, #181a1b);
    inset: 0;
    position: fixed;
    z-index: -1;
  }
  
  .space {
    --size: 2px;
    --space-layer: 
      4vw 50vh 0 #fff,
      18vw 88vh 0 #fff,
      73vw 14vh 0 #fff;
    
    width: var(--size);
    height: var(--size);
    background: white;
    box-shadow: var(--space-layer);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
  }
  
  .space {
     animation: move var(--duration) linear infinite;
  }
  
  @keyframes move {
    from { transform: translateY(0); }
    to { transform: translateY(-100vh); }
  }

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 20px;
    background-color:#8c8d8d;
    .header_nav_conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
            color: #ccc9c5;
        &:hover {
            color: #fff;
        }
        }
    }
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
a{
    text-decoration: none;
    color: black;
}

}


.nav li {
    display: inline;
}
.container_info_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.article_you, .section_skills, .formacion_academica, .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article_you{
    /* border: 1px solid red; */
    margin: 0 10% 5rem  10%;
}
.carousel {
    overflow: hidden;
}

.carousel__images {
    display: flex;
}

.carousel__image {
    flex-shrink: 0;
    width: 10%;
}
.carousel__images img {
    transition: transform 0.3s ease-in-out;
}

.carousel__images img:hover {
    transform: scale(1.1);
}
@keyframes carousel {
    0% { transform: translateX(0); }
    85.71% { transform: translateX(-50%); }
    100% { transform: translateX(-50%); }
}













@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}