* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
}

input,
button,
textarea,
select {
    font: inherit;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    text-wrap: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 20px;
    background-color: aqua;
    .header_nav_conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
        }
    }
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
a{
    text-decoration: none;
    color: black;
}

}


.nav li {
    display: inline;
}
.container {
    margin-top: 60px;
   background-color: blueviolet;
}

















@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}